/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;800;900;1000&display=swap');

/* Start Global Rules */
:root {
  --main-color: #18489f;
  --second-color: #e9af31;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eff7fa;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: relative;
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 3px solid var(--second-color);
  padding-bottom: 5px;
  width: fit-content;
  margin: 0px auto 20px;
  border-radius: 10px;
}

.title::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-top-color: var(--main-color);
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Navbar */
.navbar {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, .2));
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 15px 40px 10px var(--main-color);
  color: var(--main-color);
  top: 0;
  padding: 0;
  z-index: 1000;
}

.navbar .navbar-brand img {
  width: 80px;
  height: 80px;
}

@media (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 64px;
    height: 64px;
  }
}

.navbar .nav-link {
  color: var(--main-color);
  font-weight: bold;
  text-align: end;
}

.navbar .nav-link.active {
  color: var(--main-color);
}

/* End Navbar */

/* Start Cover */
.cover .carousel {
  margin-top: 120px;
}

.cover .carousel-item img {
  object-fit: fill;
  object-position: top;
}

@media (max-width: 767px) {
  .cover .carousel-item img {
    height: 25vh;
  }

  .cover .carousel {
    margin-top: 80px;
  }
}

/* End Cover */

/* Start About Us */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about .values li {
  border: 2px solid var(--main-color);
  margin: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--second-color);
  color: #fff;
  font-weight: bold;
  width: fit-content;
}

@media (max-width: 767px) {
  .about .values li {
    width: 40%;
  }
}

/* End About Us */

/* Start Complexes */
.complexes {
  padding-top: 50px;
  padding-bottom: 50px;
}

.complexes video {
  width: 100%;
  height: auto;
  border: 5px solid var(--main-color);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.complexes li {
  border: 2px solid var(--main-color);
  background-color: var(--second-color);
  margin: 20px 0;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* End Complexes */

/* Start caravans */
.caravans {
  padding-top: 50px;
  padding-bottom: 50px;
}

.caravans .video video {
  width: 100%;
  height: 100%;
}

.caravans .main {
  border: 2px solid var(--bs-blue);
  padding: 20px;
  margin: 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* End caravans */

/* Start Gallery Caravans */

.lightbox-gallery {
  background-color: #18489f;
  color: #000;
  overflow-x: hidden
}

.lightbox-gallery p {
  color: #fff
}

.lightbox-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #fff
}

@media (max-width:767px) {
  .lightbox-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px
  }
}

.lightbox-gallery .intro {
  font-size: 16px;
  max-width: 1000px;
  margin: 0 auto 40px
}

.lightbox-gallery .intro p {
  margin-bottom: 0
}

.lightbox-gallery .photos {
  padding-bottom: 20px
}

.lightbox-gallery .item {
  padding-bottom: 30px
}

.lightbox-gallery .img-fluid {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid var(--second-color);
}

/* End Gallery Caravans */

/* Start Statistic */
.statistic {
  position: relative;
  display: flex;
  /* height: calc(100vh - 70px); */
  height: auto;
  background-image: url(../images/statistic.jpg);
  background-size: cover;
  background-position: 50%;
  color: #fff;
}

.statistic .container {
  z-index: 9;
}

.overlay {
  background-color: rgb(0 0 0 / 90%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.statistic .container .content {
  padding: 30px 0;
  height: 100%;
  width: 100%;
}

.statistic .container .content .cards .box {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  /* border: 1px solid #5d5d5d; */
}

.statistic .container .content .cards .box .icon {
  font-size: 50px;
}

.statistic .container .content .cards .box .icon svg {
  color: #fff;
}

.statistic .container .content .cards .box .number {
  font-weight: bold;
  color: var(--main-color);
}

.statistic .container .content .cards .box .title-box {
  font-weight: bold;
  color: var(--second-color);
}

/* End Statistic */

/* Start Projects */
.projects .gallery {
  border: 2px solid var(--main-color);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 12px;
  margin: 10px;
}

.projects ul .active {
  background-color: #18489f;
  color: #fff;
}

.projects ul li {
  padding: 0.7rem;
  cursor: pointer;
  font-weight: bold;
}

.projects ul li:not(.active):hover {
  color: #18489f;
}

.projects .switcher {
  background-color: #ddd;
  width: fit-content;
  margin: auto;
  padding: 5px;
  border-radius: 50px;
}

.projects .box {
  padding: 2px;
  cursor: pointer;
  background-color: var(--main-color);
}

.projects .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #e9af31cc;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  transition: 0.3s;
  transform: translateX(calc(-100% - 5px));
}

.projects .box:hover::before {
  transform: translateX(0);
}

.projects .box img {
  width: 100%;
  height: 230px;
}

/* End Projects */

/* Start Associations */

.associations {
  padding-top: 50px;
  padding-bottom: 50px;
  /* height: 100vh;
  width: 100%; */
  /* position: relative; */
}

.associations .container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.associations div {
  position: absolute;
  /* z-index: -1; */

}

.associations img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #18489f;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.associations .btn {
  position: absolute;
  width: 250px;
  z-index: -2;
  padding: 10px 30px;
}

.associations img:hover {
  transform: scale(1.1) rotateZ(360deg);
  border-width: 3px;
}

.associations .main {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.associations .main .img-main {
  width: 300px;
  height: 300px;
}

.associations .cairo {
  top: -30%;
  left: -30%;
}

.associations .cairo .btn {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  right: 50%;
  top: 0%;
  text-align: start;
}

.associations .aswan {
  top: -30%;
  left: 60%;
}

.associations .aswan .btn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  left: 50%;
  top: 0;
  text-align: end;
}

.associations .qalubiya {
  bottom: -30%;
  left: -30%;
}

.associations .qalubiya .btn {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  right: 50%;
  top: 0%;
  text-align: start;
}

.associations .qana {
  bottom: -30%;
  left: 60%;
}

.associations .qana .btn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  left: 50%;
  top: 0%;
  text-align: end;
}

@media (max-width: 767px) {
  .associations .container {
    height: 30vh;
  }

  .associations .main .img-main {
    width: 130px;
    height: 130px;
  }

  .associations img {
    width: 100px;
    height: 100px;
  }

  .associations .btn {
    width: 120px;
    padding: 10px;
    font-size: 10px;
  }

}

/* .associations {
  padding-top: 50px;
  padding-bottom: 50px;
}

.associations div {
  min-height: 250px;
}

.associations img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #18489f;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.associations img:hover {
  opacity: .9;
  transform: scale(1.1);
  border-radius: 0px;
  border-width: 3px;
}

@media (max-width: 767px) {
  .associations div {
    width: 100%;
    margin: 10px auto;
  }
} */


/* End Associations */

/* Start statistic numbers */
.statisticNum {
  position: relative;
  display: flex;
  /* height: calc(100vh - 70px); */
  height: auto;
  background-image: url(../images/statistic.jpg);
  background-size: cover;
  background-position: 50%;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.statisticNum .container {
  z-index: 9;
}

.statisticNum.overlay {
  background-color: rgb(0 0 0 / 90%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.statisticNum .container .content {
  padding: 30px 0;
  height: 100%;
  width: 100%;
}

.statisticNum .container .content .cards .box {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  /* border: 1px solid #5d5d5d; */
}

.statisticNum .container .content .cards .box .icon {
  font-size: 50px;
}

.statisticNum .container .content .cards .box .icon svg {
  color: #fff
}

.statisticNum .container .content .cards .box .number {
  font-weight: bold;
  color: var(--main-color);
}

.statisticNum .container .content .cards .box .title-box {
  font-weight: bold;
  color: var(--second-color);
}

.statisticNum .container .content .cards .box span {
  color: var(--main-color);
}

/* Start statistic numbers */

/* Start Trips  */
.trips {
  padding-top: 50px;
  padding-bottom: 50px;
}

.trips .carousel {
  padding: 0;
  border: 3px solid #18489f;
  border-radius: 40px;
  overflow: hidden;
  width: 800px;
  margin: auto;
}

.trips .carousel-item img {
  height: calc(80vh);
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1000px) {
  .trips .carousel {
    width: 100%;
  }

  .trips .carousel-item img {
    height: 300px;
  }
}

/* End Trips  */

/* Start Blog  */
.blog {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.blog swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 250px;
}

.blog swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .blog swiper-slide {
    width: 250px !important;
    height: 200px;
  }
}

/* End Blog  */

/* Start programs */
.programs {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.programs iframe {
  height: 220px;
  width: 100%;
}

.programs .swiper {
  width: 250px;
  height: 350px;
}

.programs .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
}

/* .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */

.programs .see-more {
  display: block;
  width: 90%;
  margin: auto;
}

/* End programs */