/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;800;900;1000&display=swap');

/* Start Global Rules */
:root {
  --main-color: #18489f;
  --second-color: #e9af31;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eff7fa;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
  object-fit: cover;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: relative;
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 3px solid var(--second-color);
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto 20px;
  border-radius: 10px;
}

.title::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-top-color: var(--main-color);
  bottom: -23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Back Top */
.top-btn.active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  left: 20px;
  right: auto;
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  z-index: 999;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
}

.icons-back-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icons-back-top::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-left: 2px solid var(--second-color);
  border-radius: 50%;
  -webkit-animation: btn-top 3s linear infinite;
  animation: btn-top 3s linear infinite;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icons-back-top:hover::before {
  -webkit-animation: btn-top .5s linear infinite;
  animation: btn-top .5s linear infinite;
  border-color: var(--main-color);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.top-btn svg {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.top-btn svg:first-child {
  font-size: 30px;
  color: var(--main-color);
  margin-top: 7px;
}

.top-btn svg:last-child {
  font-size: 20px;
  color: var(--main-color);
  margin-top: -15px;
}

.icons-back-top:hover svg {
  color: var(--second-color);
}

/* End Back Top */


/* Start Whatsapp Contact */
.btn-social-buttons a {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.btn-social-buttons.show a {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.Whatsapp-Contact {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 1000;
  width: 94px;
  height: 94px;
  background: #4ac534;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Whatsapp-Contact {
  position: fixed;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Whatsapp-Contact {
  background-color: #4ac534;
  right: 20px;
  bottom: 40px;
}

.Whatsapp-Contact svg {
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.Whatsapp-Contact svg {
  font-size: 37px;
}

.Whatsapp-Contact:hover,
.Whatsapp-Contact:focus,
.Whatsapp-Contact:hover svg,
.Whatsapp-Contact:focus svg {
  -webkit-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

/* End Whatsapp Contact */


/* Start Navbar */
.navbar {
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, .2));
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, .2));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0px 15px 40px 10px var(--main-color);
  box-shadow: 0px 15px 40px 10px var(--main-color);
  color: var(--main-color);
  top: 0;
  padding: 0;
  z-index: 1000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar .navbar-brand img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--second-color);
}

.navbar .nav-link {
  color: var(--main-color);
  font-weight: bold;
  text-align: end;
}

.navbar .nav-link.active {
  -webkit-box-shadow: 0 0 5px var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
  border-radius: 6px;
  font-weight: 800;
  background-color: #c9dcf9b5;
  color: var(--main-color);
  border: 0.5px solid #e9af3159;
  padding: 5px;
}

button:focus:not(:focus-visible) {
  outline: 0;
  color: var(--main-color);
}

.navbar-toggler {
  border: 2px solid var(--second-color);
}


.navbar .navbar-icons {
  background-color: var(--main-color);
  width: 100%;
  height: 25px;
}

.navbar .navbar-icons .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.navbar .navbar-icons .icons a {
  color: #fff;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 64px;
    height: 64px;
  }

  .navbar .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: -webkit-right;
  }

  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .navbar-icons-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    font-size: 13px;
  }

  .navbar .navbar-icons {
    height: 50px;
    padding: 7px 0;
  }

  .navbar .vodafone {
    font-size: 10px;
    margin-top: 5px;
  }
}

@media (max-width: 990px) {
  .navbar .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: -webkit-right;
  }

  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

/* End Navbar */

/* Start Cover */
.cover .carousel {
  margin-top: 130px;
}

.cover .carousel-item img {
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: top;
  object-position: top;
}

@media (max-width: 767px) {
  .cover .carousel-item img {
    height: 25vh;
  }

  .cover .carousel {
    margin-top: 135px;
  }
}

/* End Cover */

/* Start About Us */
.about {
  padding-top: 50px;
}

.about .values li {
  border: 2px solid var(--main-color);
  margin: 5px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--second-color);
  color: #fff;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 767px) {
  .about .values {
    display: none;
  }

  .about .values li {
    width: 40%;
  }
}

/* End About Us */

/* Start Complexes */
.complexes {
  padding-top: 50px;
  padding-bottom: 50px;
}

.complexes video {
  width: 100%;
  height: auto;
  border: 5px solid var(--main-color);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.complexes li {
  border: 2px solid var(--main-color);
  background-color: var(--second-color);
  margin: 20px 0;
  padding: 10px;
  width: 90%;
  color: #fff;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* End Complexes */

/* Start caravans */
.caravans {
  padding-top: 50px;
  padding-bottom: 50px;
}

.caravans .video video {
  width: 100%;
  height: 100%;
  border: 3px solid var(--second-color);
}

.caravans .main {
  border: 3px solid var(--main-color);
  padding: 20px;
  margin: 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* End caravans */

/* Start Gallery Caravans */

.lightbox-gallery {
  color: #000;
  overflow-x: hidden;
}

.lightbox-gallery p {
  color: #fff;
}


.lightbox-gallery .text-dec {
  direction: rtl;
  background-color: #2196f347;
  color: #000;
  padding: 20px;
  border-radius: 6px;
  line-height: 1.7;
  font-size: 18px;
}

.lightbox-gallery h2 {
  margin-bottom: 40px;
  padding-top: 40px;
}

@media (max-width:767px) {
  .lightbox-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px
  }
}

.lightbox-gallery .intro {
  font-size: 16px;
  max-width: 1000px;
  margin: 0 auto 40px
}

.lightbox-gallery .intro p {
  margin-bottom: 0;
  color: var(--second-color);
}

.lightbox-gallery .photos {
  padding-bottom: 20px
}

.lightbox-gallery .item {
  padding-bottom: 30px
}

.lightbox-gallery .img-fluid {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
}

@media(max-width:767px) {
  .lightbox-gallery .item {
    width: 50%;
  }

  .lightbox-gallery .img-fluid {
    height: 200px;
  }

  .lightbox-gallery .text-dec {
    font-size: 14px;
  }
}

/* End Gallery Caravans */

/* Start Statistic */
.statistic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* height: calc(100vh - 70px); */
  height: auto;
  background-image: url(../images/statistic.jpg);
  background-size: cover;
  background-position: 50%;
  color: #fff;
}

.statistic .container {
  z-index: 9;
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.statistic .container .content {
  padding: 30px 0;
  height: 100%;
  width: 100%;
}

.statistic .container .content .cards .box {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  /* border: 1px solid #5d5d5d; */
}

.statistic .container .content .cards .box .icon {
  font-size: 50px;
}

.statistic .container .content .cards .box .icon svg {
  color: #fff;
}

.statistic .container .content .cards .box .number {
  font-weight: bold;
  color: var(--main-color);
}

.statistic .container .content .cards .box .title-box {
  font-weight: bold;
  color: var(--second-color);
}

/* End Statistic */

/* Start Projects */
.projects .gallery {
  border: 3px solid var(--main-color);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 12px;
  margin: 10px;
}

.projects ul .active {
  background-color: #18489f;
  color: #fff;
}

.projects ul li {
  padding: 0.7rem;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  background: #c7dcf7;
  border-radius: 30px;
}

.projects ul li:not(.active):hover {
  color: #18489f;
}

.projects .switcher {
  background-color: #ddd;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 5px;
  border-radius: 50px;
}

.projects .box {
  padding: 3px;
  cursor: pointer;
  background-color: var(--second-color);
}

.projects .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #e9af31cc;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(calc(-100% - 5px));
  -ms-transform: translateX(calc(-100% - 5px));
  transform: translateX(calc(-100% - 5px));
}

.projects .box:hover::before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

.projects .box:hover {
  background-color: var(--main-color);
  padding: 3px;
}

.projects .box img {
  width: 100%;
  height: 230px;
}

@media(max-width:767px) {
  .projects ul li {
    /* padding: 0.5rem; */
    font-size: 13px;
  }

  .projects .switcher {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    border-radius: 20px;
  }

  .main-switcher {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .projects .main-switcher li {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
  }
}

/* End Projects */

/* Start Associations */

.associations {
  padding-top: 50px;
  padding-bottom: 50px;
  /* height: 100vh;
  width: 100%; */
  /* position: relative; */
}

.associations .container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 60vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.associations div {
  position: absolute;
  /* z-index: -1; */

}

.associations img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #18489f;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.associations .btn {
  position: absolute;
  width: 250px;
  z-index: -2;
  padding: 10px 30px;
  background-color: var(--second-color);
  border-width: 2px;
}

.associations .btn:hover {
  border-color: var(--second-color);
}

.associations img:hover {
  -webkit-transform: scale(1.1) rotateZ(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotateZ(360deg);
  border-width: 3px;
  border-color: var(--second-color);
}

.associations .main {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.associations .main .img-main {
  width: 300px;
  height: 300px;
  /* background-color: var(--second-color); */
}

.associations .cairo {
  top: -30%;
  left: -30%;
}

.associations .cairo .btn {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  right: 50%;
  top: 0%;
  text-align: start;
}

.associations .aswan {
  top: -30%;
  left: 60%;
}

.associations .aswan .btn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  left: 50%;
  top: 0;
  text-align: end;
}

.associations .qalubiya {
  bottom: -30%;
  left: -30%;
}

.associations .qalubiya .btn {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  right: 50%;
  top: 0%;
  text-align: start;
}

.associations .qana {
  bottom: -30%;
  left: 60%;
}

.associations .qana .btn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  left: 50%;
  top: 0%;
  text-align: end;
}

@media (max-width: 767px) {
  .associations .container {
    height: 30vh;
  }

  .associations .main .img-main {
    width: 130px;
    height: 130px;
  }

  .associations img {
    width: 100px;
    height: 100px;
  }

  .associations .btn {
    width: 120px;
    padding: 10px;
    font-size: 10px;
  }

}

/* .associations {
  padding-top: 50px;
  padding-bottom: 50px;
}

.associations div {
  min-height: 250px;
}

.associations img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #18489f;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.associations img:hover {
  opacity: .9;
  transform: scale(1.1);
  border-radius: 0px;
  border-width: 3px;
}

@media (max-width: 767px) {
  .associations div {
    width: 100%;
    margin: 10px auto;
  }
} */


/* End Associations */

/* Start statistic numbers */
.statisticNum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* height: calc(100vh - 70px); */
  height: auto;
  background-image: url(../images/statistic.jpg);
  background-size: cover;
  background-position: 50%;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.statisticNum .container {
  z-index: 9;
}

.statisticNum.overlay {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(max-width:767px) {

  .statisticNum,
  .statistic {
    background-image: url(../images/statistic-01.jpg);
    background-size: auto;
  }
}

.statisticNum .container .content {
  padding: 30px 0;
  height: 100%;
  width: 100%;
}

.statisticNum .container .content .cards .box {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  /* border: 1px solid #5d5d5d; */
}

.statisticNum .container .content .cards .box .icon {
  font-size: 50px;
}

.statisticNum .container .content .cards .box .icon svg {
  color: #fff
}

.statisticNum .container .content .cards .box .number {
  font-weight: bold;
  color: var(--main-color);
}

.statisticNum .container .content .cards .box .title-box {
  font-weight: bold;
  color: var(--second-color);
}

.statisticNum .container .content .cards .box span {
  color: var(--main-color);
}

/* Start statistic numbers */

/* Start Trips  */
.trips {
  padding-top: 50px;
  padding-bottom: 50px;
}

.trips .carousel {
  padding: 0;
  border: 3px solid #18489f;
  border-radius: 40px;
  overflow: hidden;
  width: 800px;
  margin: auto;
}

.trips .carousel-item img {
  height: calc(80vh);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@media (max-width: 1000px) {
  .trips .carousel {
    width: 100%;
  }

  .trips .carousel-item img {
    height: 300px;
  }
}

/* End Trips  */

/* Start Blog  */
.blog {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.blog swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 250px;
}

.blog swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
}

@media (max-width: 767px) {
  .blog swiper-slide {
    width: 250px !important;
    height: 200px;
  }
}

/* End Blog  */

/* Start programs */
.programs {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 190px;
}

.programs input {

  display: none;
}

.programs .container {

  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.programs .cards {

  position: relative;
  height: 500px;
  width: 430px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.programs .cards label {

  position: absolute;
  width: 430px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.programs .cards .card {

  position: relative;
  height: 630px;
  background-color: #18489f;
  border-radius: 10px;
  padding: 15px 25px;
}

.programs .cards .card h5 {
  color: #fff;
}

.programs .card .video {

  display: flex;
  justify-content: space-between;
}

.programs .card .video iframe {

  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 25px;
  width: 90%;
  height: 300px;
  object-fit: cover;
}

.programs .card .video .dots {

  text-align: center;
}

.programs .dots div {

  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.programs .dots div:nth-child(1) {

  background-color: var(--current-color1);
}

.programs .dots div:nth-child(2) {

  background-color: #5B85F9;
}

.programs .dots div:nth-child(3) {

  background-color: #000;
}

.programs .card .infos {
  padding-top: 40px;
}

.programs .infos span {

  display: block;
}

.programs .infos .name {

  font-size: 30px;
  color: var(--current-color1);
  letter-spacing: 3px;
  margin-bottom: 15px;
  transition: all .6s ease;
  text-align: center;
}


.programs .card .see-more {

  width: 100%;
  height: 60px;
  margin: 20px auto;
  border-radius: 6px;
  background-color: #e9af31;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 700;
  transition: all .7s ease;
}

#s1:checked~.cards #slide7,
#s2:checked~.cards #slide8,
#s3:checked~.cards #slide9,
#s4:checked~.cards #slide10,
#s5:checked~.cards #slide11,
#s6:checked~.cards #slide1,
#s7:checked~.cards #slide2,
#s8:checked~.cards #slide3,
#s9:checked~.cards #slide4,
#s10:checked~.cards #slide5,
#s11:checked~.cards #slide6 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-100%, 0, -100px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide8,
#s2:checked~.cards #slide9,
#s3:checked~.cards #slide10,
#s4:checked~.cards #slide11,
#s5:checked~.cards #slide1,
#s6:checked~.cards #slide2,
#s7:checked~.cards #slide3,
#s8:checked~.cards #slide4,
#s9:checked~.cards #slide5,
#s10:checked~.cards #slide6,
#s11:checked~.cards #slide7 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-80%, 0, -80px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide9,
#s2:checked~.cards #slide10,
#s3:checked~.cards #slide11,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2,
#s6:checked~.cards #slide3,
#s7:checked~.cards #slide4,
#s8:checked~.cards #slide5,
#s9:checked~.cards #slide6,
#s10:checked~.cards #slide7,
#s11:checked~.cards #slide8 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-60%, 0, -60px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide10,
#s2:checked~.cards #slide11,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3,
#s6:checked~.cards #slide4,
#s7:checked~.cards #slide5,
#s8:checked~.cards #slide6,
#s9:checked~.cards #slide7,
#s10:checked~.cards #slide8,
#s11:checked~.cards #slide9 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-40%, 0, -40px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide11,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4,
#s6:checked~.cards #slide5,
#s7:checked~.cards #slide6,
#s8:checked~.cards #slide7,
#s9:checked~.cards #slide8,
#s10:checked~.cards #slide9,
#s11:checked~.cards #slide10 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-20%, 0, -20px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5,
#s6:checked~.cards #slide6,
#s7:checked~.cards #slide7,
#s8:checked~.cards #slide8,
#s9:checked~.cards #slide9,
#s10:checked~.cards #slide10,
#s11:checked~.cards #slide11 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide6,
#s6:checked~.cards #slide7,
#s7:checked~.cards #slide8,
#s8:checked~.cards #slide9,
#s9:checked~.cards #slide10,
#s10:checked~.cards #slide11,
#s11:checked~.cards #slide1 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(20%, 0, -20px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide6,
#s5:checked~.cards #slide7,
#s6:checked~.cards #slide8,
#s7:checked~.cards #slide9,
#s8:checked~.cards #slide10,
#s9:checked~.cards #slide11,
#s10:checked~.cards #slide1,
#s11:checked~.cards #slide2 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(40%, 0, -40px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide6,
#s4:checked~.cards #slide7,
#s5:checked~.cards #slide8,
#s6:checked~.cards #slide9,
#s7:checked~.cards #slide10,
#s8:checked~.cards #slide11,
#s9:checked~.cards #slide1,
#s10:checked~.cards #slide2,
#s11:checked~.cards #slide3 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(60%, 0, -60px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide6,
#s3:checked~.cards #slide7,
#s4:checked~.cards #slide8,
#s5:checked~.cards #slide9,
#s6:checked~.cards #slide10,
#s7:checked~.cards #slide11,
#s8:checked~.cards #slide1,
#s9:checked~.cards #slide2,
#s10:checked~.cards #slide3,
#s11:checked~.cards #slide4 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(80%, 0, -80px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide6,
#s2:checked~.cards #slide7,
#s3:checked~.cards #slide8,
#s4:checked~.cards #slide9,
#s5:checked~.cards #slide10,
#s6:checked~.cards #slide11,
#s7:checked~.cards #slide1,
#s8:checked~.cards #slide2,
#s9:checked~.cards #slide3,
#s10:checked~.cards #slide4,
#s11:checked~.cards #slide5 {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(100%, 0, -100px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

@media (max-width: 767px) {
  .programs .card .video iframe {
    height: 170px;
  }

  .programs .cards label {
    width: 60%;
  }

  .programs .cards .card {
    height: 510px;
  }

  .programs .cards .card h5 {
    font-size: 16px;

  }

  .programs .card .infos {
    padding-top: 30px;
  }

  .programs .card .see-more {
    font-size: 13px;
    height: 40px;
    letter-spacing: 0px;
    font-weight: 500;

  }
  .programs .infos .name {
    
  }
}

/* End programs */

/* Start situations */

.situations {
  padding-top: 50px;
  padding-bottom: 50px;
}

.situations .container {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 60vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.situations div {
  position: absolute;
}

.situations img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #18489f;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.situations img:hover {
  -webkit-transform: scale(1.1) rotateZ(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotateZ(360deg);
  border-width: 3px;
  border-color: var(--second-color);
}

.situations .main {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 2px solid var(--second-color);
  border-radius: 50%;
  padding: 20px;
}

.situations .main .img-main {
  width: 300px;
  height: 300px;
}

.situations .main {
  border-color: var(--second-color);
}

.situations .main .img-main:hover {
  background-color: #18489fb3;
}

.situations .main .card-1 {
  top: -12%;
  left: -9%;
}

.situations .main .card-2 {
  top: -29%;
  left: 34%;
}

.situations .main .card-3 {
  top: -15%;
  left: 76%;
}

.situations .main .card-4 {
  top: 23%;
  left: 99%;
}

.situations .main .card-5 {
  top: 67%;
  left: 92%;
}

.situations .main .card-6 {
  top: 94%;
  left: 63%;
}

.situations .main .card-7 {
  top: 98%;
  left: 21%;
}

.situations .main .card-8 {
  top: 73%;
  left: -17%;
}

.situations .main .card-9 {
  top: 30%;
  left: -29%;
}

@media (max-width: 767px) {
  .situations .container {
    height: 40vh;
    padding-bottom: 0px;
  }

  .situations .main .img-main {
    width: 130px;
    height: 130px;
  }

  .situations img {
    width: 70px;
    height: 70px;
  }

  .situations .main .card-1 {
    top: -20%;
    left: -22%;
  }

  .situations .main .card-2 {
    top: -41%;
    left: 22%;
  }

  .situations .main .card-3 {
    top: -30%;
    left: 69%;
  }

  .situations .main .card-4 {
    top: 8%;
    left: 97%;
  }

  .situations .main .card-5 {
    top: 55%;
    left: 96%;
  }

  .situations .main .card-6 {
    top: 91%;
    left: 65%;
  }

  .situations .main .card-7 {
    top: 99%;
    left: 16%;
  }

  .situations .main .card-8 {
    top: 73%;
    left: -27%;
  }

  .situations .main .card-9 {
    top: 26%;
    left: -42%;
  }
}

/* End situations */

/* Start Footer */
footer {
  background: -o-linear-gradient(135deg, #ffffff 0%, #d7e1ec 74%);
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  padding: 30px 0 0;
}

footer .title {
  margin-bottom: 40px;
}

footer .links {
  direction: rtl;
}

footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

footer .links li {
  border: 1px solid var(--second-color);
  border-radius: 20px;
  margin: 3px;
  padding: 5px;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

footer .links li:hover {
  margin-right: 20px;
}

footer .links li a {
  color: var(--main-color);
  font-weight: bold;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

footer .links li a svg {
  margin-left: 10px;
  color: var(--second-color);
}

.contribution img {
  width: 200px;
  height: 200px;
}

.contribution .vodafone {
  color: var(--main-color);
  font-size: 20px;
}

.contribution .vodafone .voda {
  border-bottom: 2px solid var(--second-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contribution .vodafone .voda span {
  font-weight: bold;
  letter-spacing: 1px;
}

.contribution .vodafone .voda svg {
  color: var(--second-color);
  margin: 0 10px;
}


footer .contact-us {
  text-align: center;
}

footer .contact-us .button {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

footer .contact-us .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 70px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: var(--main-color);
  background-color: #fff;
}

footer .contact-us .button .icon svg {
  font-size: 30px;
  line-height: 60px;
}

footer .contact-us .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

footer .contact-us .button:hover {
  width: 200px;
  text-align: left;
}

footer .contact-us .facebook-icon:hover .icon {
  background-color: #395295;
  color: #fff;
}

footer .contact-us .youtube-icon:hover .icon {
  background-color: #db0000;
  color: #fff;
}

footer .contact-us .soundcloud-icon:hover .icon {
  background-color: #de4207;
  color: #fff;
}

footer .contact-us .telegram-icon:hover .icon {
  background-color: #64a6d8;
  color: #fff;
}

footer .contact-us .linkedin-icon:hover .icon {
  background-color: #000;
  color: #fff;
}

footer .contact-us .whatsapp-icon:hover .icon {
  background-color: #447634;
  color: #fff;
}

footer .contact-us .facebook-icon:hover span {
  color: #395295;
}

footer .contact-us .youtube-icon:hover span {
  color: #db0000;
}

footer .contact-us .soundcloud-icon:hover span {
  color: #de4207;
}

footer .contact-us .telegram-icon:hover span {
  color: #64a6d8;
}

footer .contact-us .linkedin-icon:hover span {
  color: #000;
}

footer .contact-us .whatsapp-icon:hover span {
  color: #447634;
}

.copyrights {
  text-align: center;
  margin: 30px 0 0;
  font-size: 18px;
  padding: 10px 0 10px;
  border-top: 1px solid var(--second-color);
  background-color: #cfe3f7;
  -webkit-box-shadow: 0px 0px 20px 10px #cfe3f7;
  box-shadow: 0px 0px 20px 10px #cfe3f7;
}

.copyrights a {
  color: var(--main-color);
}

.copyrights a span {
  font-weight: bold;
}

@media(max-width: 767px) {
  footer .contact-us .button {
    width: 40px;
    height: 40px;
  }

  footer .contact-us .button .icon {
    width: 40px;
    height: 40px;
    line-height: 48px;
  }

  footer .contact-us .button .icon svg {
    font-size: 25px;
  }

  footer .contact-us .button:hover {
    width: 150px;
  }

  footer .contact-us .button span {
    line-height: 46px;
    margin-left: 2px;
  }

  footer .links ul {
    display: block;
  }


  footer .links li:hover a {
    margin-right: 20px;
  }

  .contribution .vodafone .voda svg {
    margin: 0px 3px;
  }

}


@media (max-width:360px) {
  .copyrights {
    font-size: 14px;
  }
}

@media (max-width:320px) {
  .copyrights {
    font-size: 13px;
  }
}

/* End Footer */


/* start Animation */

@-webkit-keyframes btn-top {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes btn-top {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}